<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>编辑文章</h3>
    </div>
    <%= render 'form', article: @article %>
  </div>
</div>
<%=render 'layerend' %>