<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>新增物流</h3>
    </div>
    <%= render 'form', logistic: @logistic %>
  </div>
</div>
<%=render 'layerend' %>