<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>编辑物流信息</h3>
    </div>
<%= render 'form', logisticorder: @logisticorder %>
  </div>
</div>
<%=render 'layerend' %>